body{
    margin: 0%;
    background: linear-gradient(16deg, rgb(230, 230, 230) 50%, white 50%);
}

.cabecalho{
    text-align: center;
    background-color: rgb(95, 95, 95);
    padding: 1px;
}

.cabecalho-texto{
    color: white;
}


a{
    text-decoration: none;
}

.corpo{
    background-color: rgb(230, 230, 230);
}

.img{
    height: 240px;
    width: 170px;
}

.nome{
    margin-top: 10px;
}

.negrito{
    font-weight: bold;
}

.genio{      
    text-align: center;
    margin-top: 15px;
}
.font{
    font-size: 18px;
}

.font1{
    font-size: 16px;
}

.info{
    text-align: center;
}

.descricao{
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.rodape{
    background-color: rgb(151, 149, 149);
    text-align: center;
    padding: 1px;
}

.rodape-texto{
    font-weight: bold;
}
